<form id="{{ form.vars.id }}">

    {{ form_row(form.widget_id)}}
    {{ form_row(form.widget_choices)}}

    {{form_row(form.widget_attribute)}}

</form>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ asset('bundles/chromediawidgetformbuilder/js/widgetFormBuilder.js') }}"></script>
<script type="text/javascript">
(function(){
    $(function(){
        var widgetBuilder = new WidgetFormBuilder({
            form: $('#{{ form.vars.id }}')
        });

        widgetBuilder.initForm();
    });
})(jQuery);
</script>