<form id="{{ form.vars.id }}" method="post">

    {{ form_widget(form.widget_constraints.vars.prototype)}}
    {{ form_rest(form)}}
    <button type="submit">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{{ asset('bundles/chromediawidgetformbuilder/js/widgetFormBuilder.js') }}"></script>
<script type="text/javascript">
(function(){
    $(function(){
        var widgetBuilder = new WidgetFormBuilder({
            form: $('#{{ form.vars.id }}')
        });

        widgetBuilder.initForm();
    });
})(jQuery);
</script>