{% block chromedia_widget_attribute_widget %}
{% spaceless %}
    {{ form_widget(form.key) }}
    {{ form_widget(form.value) }}

    <a href="#" class="add-widget-attribute-trigger">Add</a> |
    <a href="#" class="remove-widget-attribute-trigger">Remove</a>
{% endspaceless %}
{% endblock %}

{% block chromedia_widget_attribute_row %}
{% spaceless %}
    <div class="form-group">
        {{ block('chromedia_widget_attribute_widget') }}
    </div>
{% endspaceless %}
{% endblock %}

{% block chromedia_widget_choice_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_widget(form) }}
        <a href="#" class="add-widget-choice-trigger">Add</a> |
        <a href="#" class="remove-widget-choice-trigger">Remove</a>
    </div>
{% endspaceless %}
{% endblock %}

{% block chromedia_widget_constraint_row %}
{% spaceless %}
    <div class="form-group widget-constraint">
        {{ form_row(form.constraint_id) }}
        {{ form_row(form.constraint_options) }}

        <a href="#" class="add-widget-constraint-trigger">Add</a> |
        <a href="#" class="remove-widget-constraint-trigger">Remove</a>
    </div>
{% endspaceless %}
{% endblock %}

{% block chromedia_constraint_option_row %}
{% spaceless %}
    <div class="form-group">
        {% if form.vars.value %}
            {# I don't think name is appropriate as label..this is temporary! #}
            <label>{{ form.vars.name }}</label>
        {% else %}
            <label></label>
        {% endif %}
        
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}


{% block chromedia_constraint_choice_widget %}
{% spaceless %}
    {% if cwfb_widget_constraint_flattened_options is not empty %}
        {% set attr = attr | merge({"data-constraint-options": cwfb_widget_constraint_flattened_options | json_encode })%}
    {% endif %}
  
    {{ block('choice_widget') }}
{% endspaceless %}
{% endblock %}

